<?xml version="1.0" encoding="UTF-8"?>
<!-- hibernate的核心配置文件 -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- 引入数据库表的配置 -->
        <mapping resource="entitis.hbm.xml"/>

    </session-factory>
</hibernate-configuration>